@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

html {

text-rendering: optimizeLegibility !important;

-webkit-font-smoothing: antialiased !important;

}
a{
	color: #fff;
}
a:hover, a:focus {
color: #ccc;
text-decoration: none;
}
.font-roboto {
	font-family: 'Roboto' , sans-serif;	
}
.navbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	margin-top: -60px;
	z-index: 1000;
	transition:0.5s;
	-webkit-transition:0.5s;
	-mox-transition:0.5s;
	font-weight: 300;
	background: #fff;
	border-bottom: 1px dotted #D6D6D6;
}
.navbar .navbar-brand {
font-weight: 300;
font-size: 24px;
}
.navbar .navbar-brand, .navbar-default .navbar-nav > li > a {
	color: #888;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: #fff;
	color: #18bc9c;
}

.navbar-nav > li a{
display: inline-block;
}
.navbar-nav > li:last-child:after{
	content: '';
}
body {
	background: #1E2229;
	transition:0.5s;
	-webkit-transition:0.5s;
	-mox-transition:0.5s;
}
body.expanded {
	background: #fff;
}
.expanded .navbar {
	margin-top: 0;
}
.jumbotron {
	margin-bottom: 0;
}
.jumbotron h1{
	text-align: center;
	margin-bottom: 0;
	margin-top: 130px;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.21);
	color: #fff;
	font-family: "Times New Roman", Times, serif;
}
.jumbotron p{
	text-align: center;
}
.jumbotron.banner {
	background-image: url(../images/banner.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background: url(../images/banner.png) no-repeat center bottom fixed;
background-size: cover;
/*	transition:1s;*/
} 
.jumbotron.loading-banner {
	background-image: url(../images/banner-loader.gif);
	background-size: auto auto;
	background-position: center;
	background-color: #fff;
}
.jumbotron.loading-banner h1 , .jumbotron.loading-banner h2 {
	display: none;
}
.jumbotron.banner h2 {
	font-size: 22px;
	color: #fff;
	text-shadow: 0 0 15px rgba(0,0,0,0.8);
	letter-spacing: 18px;
	text-align: center;
	line-height: 34px;
font-weight: 200;

}
.hidden-banner {
	height: 1px;
	width: 1px;
	opacity: 0;
}
.jumbotron.banner h1 > a {
	color: #fff;
	text-decoration: none;
font-weight: 200;
}
.jumbotron.banner h2 span.heart { 
	color: #BD0D37;
	}
.jumbotron .big-img {
	width: 200px;
	height: 200px;
	margin: 30px auto;
	border: 1px solid #D9DFE0;
	background-image:url(http://www.vacation.gr/images/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center;
}

.highlight {
	line-height: 68px;
	padding: 10px; 
	color: #fff;
	border-radius: 3px;
}
.highlight.red {
	background-color: #f16651;
}
.highlight.green {
	background-color: #7ad4ce;
}
.main-desc {
padding: 30px;
background-size: cover;
font-size: 20px;
font-weight: 300;
text-align: center;
margin: 0;
background-color: #ECECEC;
/*text-shadow: 2px 2px 1px #000;*/
/*background: url(../images/banner.png) no-repeat center bottom fixed;
background-size: cover;
box-shadow: inset 0 20px 30px rgba(0, 0, 0, 0.3);*/
}
.main-desc p 
{
	/*padding: 30px;
	background-color: #fff;
	font-size: 16px;
	line-height: 28px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	font-weight: 300;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	color: #888;
	border-radius: 2px;
	text-align: left;*/
font-size: 16px;
line-height: 28px;
text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
font-weight: 300;
color: #353535;
text-align: center;
}
.main-desc p i {
	color: #ead3b4;
}
.main-bio {
	padding: 50px 50px;
padding-top: 80px;
/*background: url(../images/bg-about.jpg) no-repeat center bottom fixed;*/
background-size: cover;
background: #ECECEC;
color: #fff;
font-size: 28px;
text-align: center;
margin:0;
padding-bottom: 40px;
/*height: 175px;
margin-bottom: 120px;*/
}
.main-bio h1{
	font-size: 48px;
	margin:50px 30px; 
	margin-bottom: 10px;
	font-weight: 200;
	color: #666;
	margin-top: 10px;
}
.main-bio h3 {
	color: #888;
	font-weight: 200;
	font-family: 'Roboto' , sans-serif;
	font-size: 32px;
text-shadow: 1px 1px 1px #fff;
}
.main-bio .big-ico  i{
	/*border: 1px dotted #fff;*/
font-size: 60px;
padding: 47px 45px;
border-radius: 50%;
height: 150px;
width: 150px;
/*box-shadow: inset -3px -7px 0 rgba(0, 0, 0, 0.1);*/
text-shadow: -3px -7px 0 rgba(0, 0, 0, 0.1);
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.main-bio .operation {
line-height: 50px;
padding-top: 50px;
font-size: 58px;
color: #9B9B9B;
text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
}
.main-bio .big-ico:hover i {
	box-shadow: inset 3px 7px 0 rgba(0, 0, 0, 0.1);
text-shadow: 3px 7px 0 rgba(0, 0, 0, 0.1);
}
.main-bio .design i {
	background: #ef4d5c;
	-webkit-box-shadow:none;
    box-shadow:none;
}
.main-bio .design:hover i {
	-webkit-box-shadow:inset 0 0 0 100px #ECECEC;
    box-shadow:inset 0 0 0 100px #ECECEC;    
	background: #ECECEC;
	background: #ef4d5c;
	-webkit-box-shadow:none;
    box-shadow:none;
}
.main-bio .develop:hover i {
	background: #fdc44f;
}
.main-bio .deploy i {
	background: #59b45b;
}
.tweets-top-border {	
background-image: url(../images/line-seperator.png);
background-position: bottom;
background-repeat: repeat-x;
height: 30px;
}
.main-tweets {
	margin:0;
background-color: #26abe4;
background-position: -250px 100px;
background-repeat: no-repeat;
background-image: url(../images/twitter-logo.png);
color: #fff;
text-align: center;
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;

}
.main-tweets.animated {
	background-position: 100px 100px;
}
.main-tweets #twitterbox {
	max-height: 100px;
}
.footer h2 {
	font-weight: 200;
	margin: 0;
margin-bottom: 30px;
text-align: center;
}
.footer > div {

padding-top: 40px;
}
.main-tweets .tweet {
	border-bottom: 1px solid #51BDEC;
	font-size: 14px;
margin-bottom: 15px;
padding: 10px 0;
line-height: 24px;
padding: 10px;
}
.main-tweets .tweet:last-child {
	border-bottom: 0;
}
.main-tweets .tweet a {
	color: #FFFF90;
}
.main-tweets .follow-me {
margin-top: 20px;
padding: 15px;
background-color: #fff;
border: 0;
color: #1B8CBD;
font-size: 16px;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.33);
font-weight: 300;
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.27);

}
.main-tweets .follow-me:hover {
	background-color: #f5f5f5;

}


.main-technology {
	padding: 25px 10px;
/*background: url(../images/bg-about.jpg) no-repeat center bottom fixed;*/
background-size: cover;
background: #ECECEC;
color: #fff;
font-size: 28px;
text-align: center;
margin:0;
color: #888;
padding-bottom: 50px;
overflow: hidden;
}
.main-technology h1 {	
	font-size: 48px;
margin: 50px 30px;
margin-bottom: 70px;
font-weight: 200;
color: #666;
margin-top: 10px;
}

.main-technology h4 {
	font-weight: 400;
	text-transform: uppercase;
}
.main-technology .tech-contents {

}
.main-technology .tech-contents p {
	font-size: 15px;
font-weight: 300;
}
.main-technology .icon-container {
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
 -webkit-transform: translate(0px);
 opacity: 1;
}
.main-technology .icon-container.left {
 -webkit-transform: translate(400px); 
 opacity: 0;
}
.main-technology .icon-container.right {
 -webkit-transform: translate(-400px);
 opacity: 0;
}
.main-technology .icon {
	height: 190px;
	width: 190px;
margin: auto;
	background-position: center;
	background-size: 50% auto;
	background-repeat: no-repeat;
	border-radius: 50%;
	-webkit-transition:0.5s;
	transition:0.5s;
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;
}
.main-technology .icon-container:hover .icon {
	background-size: 110% auto;
		-webkit-transform: rotate3d(0, 0, 1, 30deg);
-moz-transform: rotate3d(0, 0, 1, 30deg);
-o-transform: rotate3d(0, 0, 1, 30deg);
-ms-transform: rotate3d(0, 0, 1, 30deg);
/* transform: rotate3d(0, 1, 0, -180deg); */
-webkit-box-shadow:
    inset 0 0 0 100px rgba(0,0,0,0.2);
    box-shadow:
    inset 0 0 0 100px rgba(0,0,0,0.2);
}
.main-technology .icon-container p.percent {
position: absolute;
top: 65px;
right: 0;
line-height: 56px;
left: 0;
z-index: 100;
color: #fff;
font-size: 58px;
font-family: 'Bebas','Impact',Arial,Helvetica,sans-serif;
opacity: 0;
/*background: rgba(255, 255, 255, 0.2);*/
	-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out;
-ms-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;
}
.main-technology .icon-container:hover p.percent {
opacity: 1;
}
.main-technology .icon.color1 {
	background-color: #71c0d1;
	background-image: url(../images/icon-protyping.png);
}
.main-technology .icon.color2 {
	background-color: #f0db4e;
	background-image: url(../images/icon-js.png);
}
.main-technology .icon.color3 {
	background-color: #bbb;
	background-image: url(../images/icon-phonegap.png);
}
.main-technology .icon.color4 {
	background-color: #97c03d;
	background-image: url(../images/icon-android.png);
}
.main-technology .icon.color5 {
	background-color: #674172;
	background-image: url(../images/icon-cloud.png);
}
.main-technology .icon.color6 {
	background-color: #40c1a0;
	background-image: url(../images/icon-webdesigning.png);
}
.main-technology .icon.color7 {
	background-color: #674172;
}
.main-technology .icon.color8 {
	background-color: #674172;
}
.main-technology .contents {
	background-color: #eee;
}


.main-portfolio {
padding: 30px;
background-size: cover;
font-size: 20px;
font-weight: 300;
text-align: center;
margin: 0;
background-color: #ECECEC;
/*text-shadow: 2px 2px 1px #000;*/
/*background: url(../images/banner.png) no-repeat center bottom fixed;
background-size: cover;
box-shadow: inset 0 20px 30px rgba(0, 0, 0, 0.3);*/
}
.main-portfolio h1 {
	font-size: 48px;
margin: 50px 30px;
margin-bottom: 30px;
font-weight: 200;
color: #666;
margin-top: 10px;
}
.main-portfolio .temp-portfolio{
	background-image: url(../images/temp-portfolio.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 471px;
	padding-top: 150px;
	font-size: 56px;
	margin-top: 50px;
	font-weight: 200;

}
.main-portfolio .show-more {
border-top: 1px dashed #999;
font-size: 21px;
text-transform: uppercase;
color: #666;
text-shadow: 1px 2px 1px #fff;
font-weight: 300;
}



.footer {
	margin-left: 0;
	margin-right: 0;
}
.footer .main-tweets,.footer .blog-block,.footer .contact-block {
	min-height: 300px;
	border-bottom: 15px solid rgba(70, 70, 70, 0.5);
}
.footer .blog-block {
	background: #5E6158;
	color: #fff;
}
.footer .blog-block h2 {
	color: #FFD961;
}

.footer .blog-block p {
	font-size: 14px;
margin-top: 10px;
font-weight: 300;
color: #ccc;
}
.footer .blog-block h3 {
	margin: 0;
font-size: 16px;
font-weight: 300;

}
.footer .blog-block p.blog-date {
	font-size: 12px;
}
.footer .blog-block a.read-more {
	font-size: 14px;
	font-weight: 300;
	color: #FFD961;
	display: block;
}

.footer .contact-block {
	background-color: #6C9636;
}
.footer .contact-block h2 {
	color: #E3F6A5;
}
.footer .contact-block p{
	color: #fff;
	font-size: 15px;
font-weight: 300;
}
.footer .contact-block .btn {
	background-color: #54742B;
	color: #E3F6A5;
	border:1px #4E6B28 solid;

}
.footer .contact-block .btn:hover {
	color: #fff;
}

/*h3 i {
	margin-right: 10px;
}
h3.subhead {
	border-bottom: 1px solid #18bc9c;
padding-bottom: 10px;
}
.qualifications h4 span,.experiences h4 span{
	font-size: 12px;
	color: #999;
	float: right;
	font-weight: bold;
	display: block;
padding: 5px 0;
}
.qualifications h5,.experiences h5{
	font-style: italic;	
	color: #666;
	font-size: 14px;
}
.qualifications h5{
	margin-bottom: 20px;
}
.experiences p{
	font-size: 12px;
color: #999;
}

.projects .progress {
	margin-bottom: 5px;
margin-top: 10px;
}

*/

.social-links {
}
.social-links ul {
	list-style: none;
	padding:0;
	float: right;
}
.social-links ul  li{
	float: left;
	height: 50px;
	margin-left: 10px;
}
.social-links ul  li:hover{

}
.social-links ul li a {
	height: 40px;
	width: 40px;
	display: block;
	color: #fff;
	line-height: 55px;
	text-align: center;
	/*border-radius: 50%;*/
	transition:0.5s;
}
.social-links ul li a:hover {
	color: #fff;
}
.social-links ul li:first-child {
	margin-left: 0;
}
.social-links ul  li a.fb:hover {
	background-color: #3b5996;
}
.social-links ul  li a.in:hover {
	background-color: #1e88bd;
}
.social-links ul  li a.tw:hover {
	background-color: #00acee;
}
.social-links ul  li a.gl:hover {
	background-color: #c3391c;
}
.social-links ul  li a.gh:hover {
	background-color: #333;
}
.social-links ul  li a.ml:hover {
	background-color: #82a026;
}
.social-links ul  li a.so:hover {
	background-color: #ff6f00;
}
.social-links ul  li a.bg:hover {
	background-color: #aa1000;
}

/*.github-link .panel{
	color: #666;
}
.github-link .panel h4{
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 0;
	color: #666;
}

.github-link .panel i,.github-link .panel h4 {
	float: left;
}

.skillset h5{
	float: left;
	margin-right: 10px;
}
.skillset span{
	padding: 7px 6px;
}

.stack-overflow .panel{
 overflow: hidden;
 border:1px solid #2c3e50;
}
.stack-overflow a {
	width: 208px;
display: block;
float: right;
margin: 5px;
}
.stack-overflow .icon{
	height: 68px;
	width: 68px;
	float: left;

 background: #2c3e50;
}
.stack-overflow i {

float: left;
padding: 15px;
color: #fff;
font-size: 2.5em;
}*/