

/* Header */

html,body {
	height: 98%;
	font-family: 'Lato', sans-serif;
	margin:0;
}

.clear {
	clear: both;
}
.about-me {
	position:fixed;
	top:10px;
	right:200px;
	width:200px;
	color:#727272;
	cursor:pointer;
	font-weight: normal;
	font-size: 28px;
	font-family: 'The Girl Next Door', cursive;
	transition:1s;
	text-align:right;
}
.about-me:hover{
	color:#fff;
}
.about-me i,.about-close i {
	color:#C93;
}
.page-home {
	background-color: #ddd;
	height:0;
	transition:1s;
	overflow:hidden;
	position:fixed;
	top:0;
	right:0;
	left:0;
	z-index:1000;
	/*background-image: url(../images/rahmathm1.png);
	background-repeat: no-repeat;
	background-position: left;*/
}
.page-home.opened {
	min-height:200px;
}
.page-home .about-close {
	position:absolute;
	bottom:0;
	right:200px;
	cursor:pointer;
	font-weight: normal;
	font-size: 28px;
	font-family: 'The Girl Next Door', cursive;
	transition:1s;
	text-align:right;
}
.page-home .about-close:hover{
	color:#000;
}
.page-home h1 {
	font-size: 72px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	border-bottom: 1px solid #aaa;
}
.page-home .rahmathm1 {
	opacity: 0.3;
	transition:1s;
	-webkit-filter: grayscale(100%);
}
.page-home .rahmathm1:hover {
	opacity: 1;
	-webkit-filter: grayscale(0%);
}
.page-home .social-links {

}
.page-home .social-links ul {
	list-style: none;
	padding:0;
}
.page-home .social-links ul  li{
	float: left;
	height: 50px;
	margin-left: 10px;
}
.page-home .social-links ul  li:hover{

}
.page-home .social-links ul li a {
	height: 50px;
	width: 50px;
	display: block;
	color: #888;
	line-height: 62px;
	text-align: center;
	border-radius: 50%;
	transition:1s;
}
.page-home .social-links ul li a:hover {
	color: #fff;
}
.page-home .social-links ul li:first-child {
	margin-left: 0;
}
.page-home .social-links ul  li a.fb:hover {
	background-color: #3b5996;
}
.page-home .social-links ul  li a.in:hover {
	background-color: #1e88bd;
}
.page-home .social-links ul  li a.tw:hover {
	background-color: #00acee;
}
.page-home .social-links ul  li a.gl:hover {
	background-color: #c3391c;
}
.page-home .social-links ul  li a.gh:hover {
	background-color: #333;
}
.page-home .social-links ul  li a.ml:hover {
	background-color: #82a026;
}
.page-home .social-links ul  li a.so:hover {
	background-color: #ff6f00;
}
.page-home .social-links ul  li a.bg:hover {
	background-color: #aa1000;
}


.page-content {
	height: 700px;
	background: #333;
}
.page-content h2.in-progress {
	font-weight: normal;
	font-family: 'The Girl Next Door', cursive;
	color: #8D7864;
	text-align: center;
	margin-top: 350px;
	text-shadow: 0px 1px 1px #111;
}
