@media (max-width: 767px) {
	.jumbotron h1{
		font-size: 42px;
	}
	.jumbotron .big-img {
		width: 100px;
		height: 100px;
		margin: 30px auto;
	}
	.jumbotron p{
		font-size: 16px;
	}
	.jumbotron.banner {
		height: 350px;
		margin-top: 0;
		margin-bottom: 30px;
		border-radius: 0;
	} 
	.jumbotron h1 {
		margin-top: 30px;
	}
	.jumbotron.banner h2 {
		margin-top: 20px;
	}

}

@media (min-width: 768px) {
	.jumbotron h1{
		font-size: 82px;
	}
	.jumbotron .big-img {
		width: 200px;
		height: 200px;
		margin: 30px auto;
	}
	.jumbotron p{
		font-size: 23px;
	}
	.jumbotron.banner {
		height: 650px;
	} 
	.jumbotron h1 {
		margin-top: 130px;
	}
	.jumbotron.banner h2 {
		margin-top: 150px;
	}

}
