
body {
	font-family: 'Lato', sans-serif;
}
.red {
	color: #e74c3c;
}
a:hover,a:active,a:focus  {
	color: #fff;
	text-decoration: none;
	-webkit-transition: 0.5s;
	   -moz-transition: 0.5s;
	    -ms-transition: 0.5s;
	     -o-transition: 0.5s;
	        transition: 0.5s;
}

.over-lay {
	position: absolute;
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
}
.main-banner {
	position: relative;
	height: 680px;
	width: 100%;
	background-image: url(../images/slide-bg1.jpg);
	background-position: center;
	background-size: cover;
	padding-top:1px; 
}
.main-banner .over-lay {
	background-image: url(../images/pattern.png);
	z-index: 100;
}


.main-banner h1, .main-banner h2{
	color: #fff;
	font-size: 60px;
	line-height: 1.3;
	z-index: 102;
	position: relative;
	clear: both;
	text-align: left;
	color: #eee;
	text-shadow:1px 1px 1px rgba(0,0,0,0.5);
}
.main-banner .text-wrapper {
	margin-top: 100px;
	opacity: 0.9;
}
.main-banner h1{
	margin-top: 200px;
	font-size: 48px;
	line-height: 1.3;
}
.main-banner h2{
	font-size: 48px;
	line-height: 1.3;
}
.main-banner .cursor{
	color: #fff;
	-webkit-animation-name: blinking;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration:0.5s;
}

/*  Animations */
@-webkit-keyframes blinking {
	0% { opacity: 0 }
	50% { opacity: 0.7 }
	100% { opacity: 0 }
}
.main-banner .my-portfolio {
	font-size: 19px;
	font-weight: 300;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #ccc;
	position: relative;
	z-index: 103;
	margin-top: 70px;
	text-shadow:1px 1px 1px rgba(0,0,0,0.5);
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@-ms-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
body {
	background: black;
}

.arrow {
	opacity: 0.3;
	margin-top: 80px;
	width: 40px;
	height: 40px;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yOTMuNzUxLDQ1NS44NjhjLTIwLjE4MSwyMC4xNzktNTMuMTY1LDE5LjkxMy03My42NzMtMC41OTVsMCwwYy0yMC41MDgtMjAuNTA4LTIwLjc3My01My40OTMtMC41OTQtNzMuNjcyICBsMTg5Ljk5OS0xOTBjMjAuMTc4LTIwLjE3OCw1My4xNjQtMTkuOTEzLDczLjY3MiwwLjU5NWwwLDBjMjAuNTA4LDIwLjUwOSwyMC43NzIsNTMuNDkyLDAuNTk1LDczLjY3MUwyOTMuNzUxLDQ1NS44Njh6Ii8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIwLjI0OSw0NTUuODY4YzIwLjE4LDIwLjE3OSw1My4xNjQsMTkuOTEzLDczLjY3Mi0wLjU5NWwwLDBjMjAuNTA5LTIwLjUwOCwyMC43NzQtNTMuNDkzLDAuNTk2LTczLjY3MiAgbC0xOTAtMTkwYy0yMC4xNzgtMjAuMTc4LTUzLjE2NC0xOS45MTMtNzMuNjcxLDAuNTk1bDAsMGMtMjAuNTA4LDIwLjUwOS0yMC43NzIsNTMuNDkyLTAuNTk1LDczLjY3MUwyMjAuMjQ5LDQ1NS44Njh6Ii8+DQo8L3N2Zz4=);
	background-size: contain;
}

.bounce {
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-ms-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

.side-menu {
	position: fixed;
	right: -100%;
	width: 100%;
	top: 0;
	bottom: 0;
	background: rgba(17, 25, 29, 0.6);
	z-index: 1000;
	transition:0.5s;
	text-align: center;
}
.side-menu.open {
	right: calc(-100% + 300px);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.side-menu.open.contact {
	right: 0;
}
.side-menu .the-menu {
	width: 300px;
	float: left;
	position: relative;
	height: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	background: #11191D;
}

.side-menu img.user-img {
	height: 120px;
	margin-top: 50px;
	vertical-align: middle;
	filter: grayscale(80%);
	-webkit-filter: grayscale(60%);
	-webkit-transition: 0.5s;
	   -moz-transition: 0.5s;
	    -ms-transition: 0.5s;
	     -o-transition: 0.5s;
	        transition: 0.5s;
}
.side-menu img.user-img:hover {
	-webkit-transform: scale(1.3);
	   -moz-transform: scale(1.3);
	    -ms-transform: scale(1.3);
	     -o-transform: scale(1.3);
	        transform: scale(1.3);
}
.side-menu .navmenu-nav li {
	position: relative;
	display: block;
	border-bottom: 1px solid #333333;
}
.side-menu .navmenu-nav li:last-child {
	border-bottom: none;
}
.side-menu .navmenu-nav li a,.side-menu .navmenu-nav li a:active,.side-menu .navmenu-nav li a:focus {
	color: #ccc;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: none;
}
.side-menu .navmenu-nav li a:hover {
	background: #0E1518;
	color: #e74c3c;
}
.side-menu .my-name {
	color: #e8e8e8 !important;
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 20px;
	padding: 10px 15px;
	margin: 10px 0;
	margin-bottom: 70px;
}

.social-links {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}
.social-links ul {
	list-style: none;
	padding:0;
	float: none;
	margin: auto;
	text-align: center;
	width: 200px;
}
.social-links ul  li{
	float: left;
	height: 50px;
}
.social-links ul  li:hover{

}
.social-links ul {
	opacity: 0.5;
}
.social-links ul:hover {
	opacity: 1;
}
.social-links ul li a {
	height: 40px;
	width: 40px;
	display: inline-block;
	color: #fff;
	line-height: 40px;
	text-align: center;
	/*border-radius: 50%;*/
	transition:0.5s;
}
.social-links ul li a:hover {
	color: #fff;
}
.social-links ul li:last-child:after {
	content: '';

}
.social-links ul li:first-child {
	margin-left: 0;
}
/*.social-links ul  li a.fb:hover {
	color: #3b5996;
}
.social-links ul  li a.in:hover {
	color: #1e88bd;
}
.social-links ul  li a.tw:hover {
	color: #00acee;
}
.social-links ul  li a.gl:hover {
	color: #c3391c;
}
.social-links ul  li a.gh:hover {
	color: #666;
}
.social-links ul  li a.ml:hover {
	color: #82a026;
}
.social-links ul  li a.so:hover {
	color: #ff6f00;
}
.social-links ul  li a.bg:hover {
	color: #aa1000;
}*/
.social-links ul  li a:hover {
	tranform:scale(1.5);
	-webkit-transform: translateY(-4px);
}




.menu-bars{
	z-index: 101;
	position: absolute;
	top: 30px;
	left: -80px;
	width: 43px;
	height: 43px;
	opacity: 0.5;
	-webkit-appearance: none;
	border: none;
	padding: 7px;
	background: rgba(0, 0, 0, 0.5);
	overflow: hidden;
}
.menu-bars:hover {
	opacity: 0.5;;
}
.menu-bars:focus {
	outline: none;
}
.menu-bars span.bars{
	display: block;
	height: 2px;
	width: 28px;
	background: #fff;
	float: left;
	margin-top: 4px;
	transition:1s;
	position: relative;
	top: 0;
}
.menu-bars span.bars:first-child {
	margin-top: 0px;
}

.side-menu.open .menu-bars span:last-child {
	position: relative;
	top: 15px;
	opacity: 0;
}
.side-menu.open .menu-bars span:first-child{
	position: relative;
	top: -15px;
	opacity: 0;
}
.side-menu.open .menu-bars span:nth-child(2) {
	transform: rotate(45deg);
	position: relative;
	top: 3px;
}
.side-menu.open .menu-bars span:nth-child(3) {
	transform: rotate(-45deg);	
	position: relative;
	top: -3px;
}

.side-menu .contact-form {
width: 100%;
height: 100%;
margin-left: 300px;
box-sizing: border-box;
border-left: 1px solid #212F37;
text-align: left;
}

/* main bio */
.content-body {
	background: #141D22;
	padding: 1px 0;
	
}
.content-body.last-child {
	padding-bottom: 40px;
}
.content-body h2 {
	color: #f5f5f5;
	font-size: 42px;
	font-weight: bold;
	margin-top: 70px;
}
.content-body h3 {
	color: #e5e5e5;
	font-size: 28px;
	margin-bottom: 25px;
}

.content-body p {
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	margin-bottom: 30px;
	color: #85939b;
}
.content-body .download-cv {
	background: #e74c3c;
color: #FFF;
padding: 12px 18px;
font-size: 15px;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
color: #fff;
font-weight: 700;
text-transform: uppercase;
border-radius: 2px;
border: none;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.36);
}
.content-body .download-cv:active {
	box-shadow: 0 5px 0 rgba(0, 0, 0, 0.42) inset;
}
.content-body .download-cv:hover {
	background: #F75F50;
}
.work {
	width: 50%;
	height: 336px;
	position: relative;
	float: left;
}
.work img{
	width: 100%;
	height: 100%;
}
.work .desc{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 20px;
	opacity: 0;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
	opacity: 0;
	-webkit-transform: scale(0.9);
	   -moz-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	     -o-transform: scale(0.9);
	        transform: scale(0.9);
	 background: rgba(0,0,0,0.5);
}
.work:hover .desc{
	opacity: 1;
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	     -o-transform: scale(1);
	        transform: scale(1);
}
.work .desc h4 {
	color: #fff;
	font-size: 22px;
}
.work .desc h5 {
	text-transform: uppercase;
}
.work .desc p {
	opacity: 0.9;
color: #FFF;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.work .view-details{
	font-weight: 200;
font-size: 72px;
text-decoration: none;
color: #ccc;
position: absolute;
right: 0;
bottom: 0;
width: 100px;
text-align: center;
}
.footer {
	padding: 20px;
text-align: center;
font-weight: 300;
font-size: 16px;
background: #121415;
color: #909090;
}